.navbar {
  background-color: #F2F4F7;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 72px;
  z-index: 1000;
  padding: 28px;
  position: fixed;
  font-weight: 500;
  font-size: 16px;
}

.navContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand {
  position: absolute;
  color: #101828;
  font-size: 20px;
  font-weight: bold;
  font-weight: 800;
  left: 64px;
.brandSub{
  color: #475467;
  }
}

.navLinks {
  display: flex;
  gap: 20px;
}

.navLink {
  color: #101828;
}

.activeNavLink {
  color: #e44848;
  transition: color 0.3s;
}
