body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif;
  color: var(--main-text);
  overflow: hidden;
  background-color: var(--body);
}

:root {
  --button: #e44848;
  --main: #101828;
  --inputs: #f7f7f7;
  --block-features: #f2f4f7;
  --rating: #ffc531;
  --text: #475467;
  --input: #f7f7f7;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  padding: 0;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.ps-container {
  height: calc(100vh - 72px);
  overflow: hidden;
  position: relative;
}

/* style for scroll */
.ps__rail-y {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  right: 5px !important;
  width: 8px;
  z-index: 1001;
}

.ps__thumb-y {
  border-radius: 7px;
  background-color: #999;
}

.ps__rail-y:hover .ps__thumb-y {
  background-color: #666;
}

.ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: #444;
}

@media screen and (max-width: 595px) {
  .ps-container {
    overflow: hidden !important;
  }
  .ps__rail-y {
    display: none !important;
  }
}
/* style for theme */


/* light theme */
html[data-theme="light"] {
  --body: #ffffff;
  --main: #000000;
  --block-features: #ececec;
  --text: #101828;
  --input: #f7f7f7;

  --icon-color: #000000;
  --rating: #ffc531;
  --rating-grey: #ccc;
}

/* dark theme */
html[data-theme="dark"] {
  --body: #1e1f22;
  --main: #ffffff;
  --block-features: #313338;
  --text: #ffffff;
  --input: #ccc;

  --icon-color: #ffffff;
  --rating: #ffc531;
  --rating-grey: #ccc;
}
